body {
  font-family: sans-serif;
  background: #f9f9f9;
  padding: 20px;
}
h1 {
  color: #333;
}
#zram-status p {
  font-size: 18px;
}
footer {
  margin-top: 20px;
  font-size: 12px;
  color: #777;
}
